<article class="item-card item-description-tooltip{% if item.data.linkExternal %} external-link{% endif %}" data-size="{{ item.data.size or 1 }}" data-tags="{{ item.data.tags | join(',') }}" {% if item.data.shortDescription %}data-description="{{ item.data.shortDescription }}"{% endif %} onclick="{% if item.data.linkExternal and item.data.link %}window.open('{{ item.data.link }}', '_blank'){% else %}openModal('{{ environment.baseUrl }}{{ item.url }}'){% endif %}">
  {% if item.data.display and item.data.display.coverImage %}
  <div class="item-images">
    {% safeImage "./src" + item.data.display.coverImage, item.data.title %}
  </div>
  {% elif item.data.coverImage %}
  <div class="item-images">
    {% safeImage "./src" + item.data.coverImage, item.data.title %}
  </div>
  {% elif item.data.link %}
  <div class="item-link-preview">
    {% if "youtube.com" in item.data.link or "youtu.be" in item.data.link %}
      {% set videoId = item.data.link | replace("https://www.youtube.com/watch?v=", "") | replace("https://youtu.be/", "") | replace("&.*", "") %}
      <iframe src="https://www.youtube.com/embed/{{ videoId }}?autoplay=1&mute=1" frameborder="0" allowfullscreen></iframe>
    {% elif "drive.google.com" in item.data.link %}
      <iframe src="{{ item.data.link }}" frameborder="0"></iframe>
    {% else %}
      <iframe src="{{ item.data.link }}" frameborder="0"></iframe>
    {% endif %}
  </div>
  {% endif %}

  <div class="item-content">
    <h2 class="item-title">{{ item.data.title }}</h2>
    <div class="item-tags">
      {% for tag in item.data.tags %}
        <span class="tag-pill" data-tag="{{ tag }}">{{ tag }}</span>
      {% endfor %}
    </div>
  </div>
</article>