<div class="list-item item-description-tooltip" 
     data-description="{{ item.data.shortDescription }}"
     data-cover-image="{% if item.data.coverImage %}{{ environment.baseUrl }}{{ item.data.coverImage }}{% elif item.data.feedImages and item.data.feedImages.length > 0 %}{{ environment.baseUrl }}{{ item.data.feedImages[0] }}{% endif %}"
     onclick="window.location.href='{{ environment.baseUrl }}{{ item.url }}'">
  <div class="list-item-title">{{ item.data.title }}</div>
</div>